body {
    height: 100vh;
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,
    url('https://images.unsplash.com/photo-1587027144186-3cda1bead94e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80');
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 1px black;
}
.cover-container {
    max-width: 60vw ;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    
}

.nav-link.active {
    color: rgb(220, 225, 226);
    border-bottom-color: white;
}

.nav-link:hover {
    color: rgb(254, 254, 254);
    border-block-start-color: rgba(255,255,255,0.5);
}

.btn {
    background: none;
    color:white;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    border-radius: 25px;
    box-shadow: 0 0.5em 0.5em -0.3em rgb(77, 180, 218);
}

.btn:hover {
    color: white;
    box-shadow: none;
    transform: translateY(0.3em);
    cursor: pointer;
}

h1:hover {
    transition: all 0.5s;
    color: rgb(227, 227, 29);
}